<!--::header part start::-->
<header class="bsnav bsnav-sticky bsnav-sticky-slide padright80">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}{{site.logo}}" alt="FoodDX"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse main-menu-item justify-content-center" id="navbarSupportedContent">
                          <ul class="navbar-nav align-items-center ml-auto">
                            {% for nav in site.navbar %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{nav.url}}">{{nav.name}} <i class="arrow down"></i></a>
                                </li>                                
                            {% endfor %}
                        </ul>
                  </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header part end-->
