<!--::Banner part start::-->
<section id="hero">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="w-100 justify-content-end rel bannermain">
				<div class="bannercontent order-1 order-lg-1">
					<div class="text">
						<h1>Get healthy, your way with FoodDX</h1>
						<p>Get insights on how to improve your diet with the help from our proprietary technology and personalised feedback from our nutrition experts.</p>
						<p><a href="#" class="btn btn-primary btn-cta">Learn More</a></p>
					</div>
				</div>
				
				<div class="hero-img p-0 order-2 order-lg-2">
					<img src="images/MainHomePage_Illustration.png" class="img-fluid" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
<!--::Banner part Ends::-->