<!--::Banner part start::-->
<section id="hero">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="w-100 justify-content-end rel bannermain">
				<div class="bannercontent order-1 order-lg-1 bannercontent2">
					<div class="text text2">
						<h1>{{site.hero.heroTitle }}</h1>
						<p>{{site.hero.herodescription }}</p>
						<p><a href="{{site.hero.heroUrl }}" class="btn btn-primary btn-cta">{{site.hero.heroBtn }}</a></p>
					</div>
				</div>				
				<div class="hero-img p-0 order-2 order-lg-2">
					<img src="{{site.hero.heroImage }}" class="img-fluid" alt="{{site.hero.heroTitle }}">
				</div>
			</div>
		</div>
	</div>
</section>
<!--::Banner part Ends::-->