
<!--::Technology Section::-->
<section id="technologysection" class="fullwidth">
	<div class="container-fluid">
		<div class="row">
			<div class="technologypic order-2 order-lg-2"><img src="{{ page.technology.image}}" class="img-fluid" alt=""></div>			
			<div class="col-lg-5 order-1 order-lg-1">
				<h2 class="mb-4">{{ page.technology.title}}</h2>
					{{ page.technology.subTitle}}				
				<div class="txtbtm">
					<div class="row">
						{% for list in  page.technology.service %}
							<div class="col-lg-6 {% if forloop.index == 2 %} pl-4 {% endif %}">
								<span><img src="{{list.icon}}" class="img-fluid" alt="{{list.title}}"></span>
								<h4>{{list.title}}  </h4>
								<ul>
									{% for liList in  list.lists %}
									<li>{{liList.text}}</li>
									{% endfor %}
								</ul>
							</div>
						{% endfor %}
					</div>
				</div>

			</div>
			
			
		</div>
	</div>
</section>
<!--::Technology Section::-->