<!--::Transforming Section::-->
<section id="transformsection" class="pad80 fullwidth {% if page.url  == '/nutrition.html' %} nutritiontransform {% endif %}">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-5 desktopsection">
				<figure><img src="{{ page.holmuskSection.image}}" class="img-fluid w-35" alt=""></figure>
				<h1>  {{ page.holmuskSection.title}}  </h1>
				{% if page.url  != '/nutrition.html' %}
					<h3> {{ page.holmuskSection.subTitle}}</h3>
					<p>{{ page.holmuskSection.info}} </p>
				{% endif %}
			</div>			
			<div class="rightbtmtxt">
				<h4>{{ page.holmuskSection.rightSide.heading}} </h4>
				<h5>{{ page.holmuskSection.rightSide.description}}</h5>				
				<div class="transformbtm">
					<div class="row">
						{% for list in  page.holmuskSection.rightSide.lists %}
							<div class="col-lg-4">
								<span><img src="{{list.icon}}" class="img-fluid" alt="icon"></span>
								<h4>{{list.title}}</h4>
								<p>{{list.desc}}</p>
							</div>						
						{% endfor %}
					</div>
				</div>
			</div>			
			<div class="col-lg-5 mobsection">				
				<h3> {{ page.holmuskSection.subTitle}}</h3>
				<p>{{ page.holmuskSection.info}} </p>
			</div>
		</div>
	</div>
</section>
<!--::Transforming Section::-->

