
<!--::Transforming Section::-->
<section id="transformsection">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<figure><img src="images/holmusk_masterlogo_white.png" class="img-fluid w-50" alt=""></figure>
				<h1>Transforming lives through evidence-based medicine</h1>
				<h3>Looking to use FoodDX?</h3>
				<p>FoodDX is currently only available via our partner apps. <br><br> If you'd like to partner with us, please send us an email at <strong><a href="#">fooddx@holmusk.com.</a></strong></p>
			</div>
			
			<div class="col-lg-6 offset-lg-2 rightbtmtxt">
				<h4>Supercharge your business with us</h4>
				<h5>Enhance your digital platforms with FoodDX. Use our API to access our digital solutions.</h5>
				
				<div class="transformbtm">
					<div class="row">
						<div class="col-lg-4">
							<span><img src="images/icon.svg" class="img-fluid" alt=""></span>
							<h4>Actionable approach for a healthier lifestyle</h4>
							<p>Measure and improve users’ dietary choices with instant feedback on meals and food tips for better health.</p>
						</div>
						
						<div class="col-lg-4">
							<span><img src="images/icon.svg" class="img-fluid" alt=""></span>
							<h4>Robust technology with extensive food database</h4>
							<p>Adaptable AI model built on our extensive food database, capable of supporting new regions and food cultures.</p>
						</div>
						
						<div class="col-lg-4">
							<span><img src="images/icon.svg" class="img-fluid" alt=""></span>
							<h4>Health management made easy</h4>
							<p>Effective lifestyle, weight and chronic disease management tools to improve users’ health.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--::Transforming Section::-->