<!doctype html>
{% include head.html %}
<body>
    {% include header.html %}

    {% if site.hero.enable %}
        {% include hero.html %}
    {% endif %}
    
    {% if site.why.enable %}
        {% include why.html %}
    {% endif %}
    
    {% if site.technology.enable %}
        {% include our-technology.html %}
    {% endif %}

    {% if site.holmuskSection.enable %}
        {% include transforming.html %}
    {% endif %}

    
    {% include partners.html %}
<div class="container">

    {{content}}
  
</div>
{% include footer.html %}

{% include js.html %}


</body>
</html>